
@import url(http://pastebin.ubuntu.com/static/default.css);
body
{
	background-image:url("http://www.ubuntu.com/sites/default/themes/ubuntu10/images/bg_dotted.png");
	color:#6d4c07;
	font-family:arial, helvetica, sans-serif;
	font-size:80%;
	margin:0;
	padding:0;
    width: 100%;
}

#outerColumnContainer
{
	border-right-color:#FFF;
	color:#000;
	width:100%;
}

#title
{
    background-image: url("http://i.imgur.com/S2WzP.png");
    background-repeat: no-repeat;
    width: 399px;
    height: 97px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
	font-size:0%;
    color: #fff;
}

#rightColumn,#contentColumn
{
	overflow:visible;
	position:relative;
	z-index:10;
}

#rightColumn
{
	width:18em;
	margin:0 -18em 0 1px;
}

#rightColumn .inside
{
	font-size:100%;
}

#contentColumn
{
	margin-left:auto;
	margin-right:auto;
	width: 95%;
	font-family:Verdana, arial, helvetica, sans-serif;
    -moz-box-shadow: 0px 1px 5px #bbbbbb;
    -webkit-box-shadow: 0px 1px 5px #bbbbbb;
    background: #fff;
    -moz-border-radius: 0px 0px 10px 10px;
    -border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;    
}
table{
    margin-left: auto; 
    margin-right: auto; 
    border-left: 1px solid rgb(245, 245, 245);
}
.inside
{
	padding:0 1.5em;
}

#contentColumn,#rightColumn
{
	padding-top:3em;
	padding-bottom:1em;
}

#mastWrapper
{
	background:url(http://media.ubuntu-nl.org/images/header-bg4.png) bottom left repeat-x #FFF;
}

#masthead
{
	position:relative;
	background:url(http://media.ubuntu-nl.org/images/header-image.png) no-repeat transparent;
	height:90px;
}

#nav
{
	position:absolute;
	bottom:0;
	right:10px;
}

#nav ul
{
	display:inline;
	list-style:none;
	margin:0;
	padding:10px 10px 0 1px;
}

#nav li
{
	float:left;
	background:url(http://media.ubuntu-nl.org/images/tab_off_ns1.png) no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
}

#nav a
{
	font-size:105%;
	display:block;
	background:url(http://media.ubuntu-nl.org/images/tab_off_ns2.png) no-repeat right top;
	text-decoration:none;
	font-weight:700;
	line-height:1.5em;
	color:#444;
	padding:8px 15px 0 8px;
}

#nav li:hover a
{
	color:#333;
	background:url(http://media.ubuntu-nl.org/images/tab_on_ns2.png) no-repeat right top;
}

#nav li:hover
{
	background:url(http://media.ubuntu-nl.org/images/tab_on_ns1.png) no-repeat left top;
	color:#000;
}

#nav #current
{
	background:url(http://media.ubuntu-nl.org/images/tab_on_ns1.png) no-repeat left top;
}

#nav #current a
{
	background:url(http://media.ubuntu-nl.org/images/tab_on_ns2.png) no-repeat right top;
	padding-bottom:0;
	color:#000;
}

#footWrapper
{
	clear:both;
	background:url(http://media.ubuntu-nl.org/images/footer-bg.png);
	background-repeat:repeat-x;
	border-bottom:2px solid #583D1E;
}

#footer
{
	color:#5B4832;
	position:relative;
	text-align:center;
	background-image:url(http://media.ubuntu-nl.org/images/footer-image2.png);
	background-repeat:repeat-y;
	background-position:left top;
	padding:.3em;
}

#footer a
{
	color:#5B4832;
	text-decoration:underline;
}

#rightColumn ul
{
	list-style:none;
	list-style-image:none;
	color:#696969;
	background-color:#eae5da;
	width:190px;
	margin:0;
	padding:0;
}

#rightColumn ul ul
{
	list-style:none;
	background-color:#eae5da;
	width:auto;
	margin:0;
	padding:0;
}

#rightColumn li
{
	font-size:100%;
	margin:0 0 0 15px;
}

#rightColumn li a
{
	text-decoration:none;
	color:#000;
	font-weight:700;
	line-height:1.5em;
}

#rightColumn li li a
{
	text-decoration:none;
	color:#000;
	font-weight:400;
}

#rightColumn li a:hover,#rightColumn #news a
{
	text-decoration:underline;
	color:#000;
}

#rightColumn li.active
{
	background-image:url(/images/little-u.gif);
	background-repeat:no-repeat;
	background-position:top left;
}

#rightColumn img
{
	border:none;
}

.timestamp
{
	text-align:right;
	font-size:85%;
	clear:both;
	font-weight:400;
	color:#76797c;
}

.timestamp a
{
	color:#76797c;
	text-decoration:underline;
}

.message
{
	background-color:#ffce7b;
	border:1px solid orange;
	color:#6d4c07;
	font-size:85%;
	font-weight:700;
	vertical-align:middle;
	background-image:url(/images/info_icon.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	margin:0 0 1em;
	padding:0.5em 1em 0.5em 3em;
}

#news a
{
	color:#000;
	text-decoration:underline;
}

.hide,.hide *
{
	visibility:hidden;
}

#contentColumn .inside
{
	position:relative;
	top:-2em;
	padding:0 0.5em;
}

th, td
{
	padding:0px 0px 6px 12px;
}
td{
    color: #888;
}
label{
    color: #dd4814;
}
.pturl{
    color: #dd4814 !important;
}
h1,h2,h3,h4,h5,h6
{
	color:#dd4814;
	background-color:transparent;
	font-family:Verdana, arial, helvetica, sans-serif;
	font-size:100%;
	font-weight:400;
	padding-top:0.4em;
	margin:0;
}

h1
{
	font-size:100%;
    text-align: center;
}

h2
{
	font-size:150%;
}

h3
{
	margin-top:20px;
	margin-bottom:8px;
	font-size:130%;
}

h4
{
	font-size:120%;
}

h5
{
	font-size:110%;
}

h6
{
	font-size:100%;
}

textarea
{
	font:110% "Courier New", Courier, monospace;
	color:#000;
	width:100%;
}

input
{
	visibility:visible;
	vertical-align:middle;
}
table{
    table-layout: fixed;
}
select
{
	color:#000;
	vertical-align:top;
}

div.paste
{
	font-size:110%;
	border:1px solid #ddd;
	background-color:#eee;
    -moz-border-radius: 4px;    
    -webkit-border-radius: 4px;
    -border-radius: 4px;        
    padding: 10px 0px;
    margin: 20px 10px 100px 10px;
}

div.paste div
{
	border:0;
    margin: 0px 0px; !important;
    padding: 0px;
    -moz-box-shadow: 0px 1px 5px #eee;
    -webkit-box-shadow: 0px 1px 5px #eee;
    -box-shadow: 0px 1px 5px #eee;
}

div.paste a
{
	color:#000;
	text-decoration:none;
	font-weight:700;
	font-size:0.9em;
	padding:1em;
}

td.code div.paste
{
	font-size:100%;
	margin:0;
	padding:0;
}
